<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PentagonHMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="PentamasterHMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="PentagonHMI.FactoryRestore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="PentagonHMI.Properties.Settings.DatabaseConnectionString" connectionString="Persist Security Info = False;Data Source =  UM-FS-CV-SQLPSS;Integrated Security = true; Initial Catalog = gdb_DexcomSystem1;" />
	</connectionStrings>
	<appSettings>
		<add key="log4net.Internal.Quiet" value="true" />
		<add key="imagePath" value="\\PickerHead\\PickerHead.jpg" />
		<add key="IsVersion2BB" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="logs\\Event\\Event_" />
			<datePattern value="dd.MM.yyyy'.log'" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level - %message%newline" />
			</layout>
			
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<PentagonHMI.Properties.Settings>
			<setting name="LogLocation" serializeAs="String">
				<value>D:\HMI\Logs</value>
			</setting>
			<setting name="ServerName" serializeAs="String">
				<value> UM-FS-CV-SQLPSS</value>
			</setting>
			<setting name="Station" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="Lifter1Station" serializeAs="String">
				<value>88</value>
			</setting>
			<setting name="Lifter2Station" serializeAs="String">
				<value>89</value>
			</setting>
			<setting name="TotalLifter" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="OEEIdealCycleTimeSec" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="ProjectType" serializeAs="String">
				<value>Dexcom</value>
			</setting>
			<setting name="StationType" serializeAs="String">
				<value>Island_00</value>
			</setting>
			<setting name="FeatureFlag" serializeAs="String">
				<value>MotorOn</value>
			</setting>
			<setting name="RepenishIconFlag" serializeAs="String">
				<value>on</value>
			</setting>
			<setting name="CalibrationFlag" serializeAs="String">
				<value>Off</value>
			</setting>
			<setting name="PalletRejectInt" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="PickRetryPrompt" serializeAs="String">
				<value>On</value>
			</setting>
			<setting name="ScannerIP" serializeAs="String">
				<value>NA</value>
			</setting>
			<setting name="ScannerPort" serializeAs="String">
				<value>11001</value>
			</setting>
			<setting name="localIP" serializeAs="String">
				<value>191.168.0.171</value>
			</setting>
			<setting name="LocalPort" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="PLC_IPAddress" serializeAs="String">
				<value>193.168.3.52</value>
			</setting>
			<setting name="PLC_Path" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="PLC_Timeout" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="LogoutTimeSec" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="SubStation" serializeAs="String">
				<value>11</value>
			</setting>
		</PentagonHMI.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FgwDotnet" publicKeyToken="E010E60D6DEEB244" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>